<h1>Application to Adopt a Pet</h1>

<%= render partial: "shared/app_details" %>

<% unless @application.pets.empty? %>
  <%= render partial: "pets_to_adopt" %>
<% end %>
<br>
<% if @application.status == "In Progress" %>
  <%= render partial: "pet_search" %>
  <br>
  <% unless @application.pets.empty? %>
    <%= render partial: "submit_app" %>
  <% end %>
<% end %>
