<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <div id="shelter-<%= shelter.id %>">
    <h3><%= shelter.name %></h3>
  </div>
<% end %>

<h1>Shelters with Pending Applications</h1>
<% if @shelters_app_pending.empty? %>
  <p>No shelters have pending applications.</p>
<% else %>
  <% @shelters_app_pending.each do |shelter| %>
    <h3><%= shelter.name %></h3>
  <% end %>
<% end %>